.about{
    margin: 20px auto;
    color: aliceblue;
    max-width: 70vw;
    /* height: ; */
}

.intro{
    margin: 10px 5px;
}

.content{
    padding-bottom: 20px;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .about {
    margin: 10px 10px;
    max-width: 100vw;
    }
}