.head{
    text-align: center;
    color: blueviolet;
    padding-top: 20px;
}


.blog{
    
    padding: 0px 20px;
    
    margin: 40px auto;
}

.title{
    margin: 5px auto;
    
}


.desc{
    margin: 5px 5px;
    /* padding: 20px; */
}