.main {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-evenly !important;
  align-items: center !important;
  /* padding-bottom: 3rem !important; */
  min-height: 93vh !important;
}




.nav1{
  padding-top: 2rem !important;
}
.nav1 ul{
  
  display: flex !important;
  justify-content: space-evenly !important;
  
}

.nav1 li{
  
  list-style: none !important;
  font-weight: bold !important;
}
.description {
  display: inherit !important;
  justify-content: inherit !important;
  align-items: inherit !important;
  font-size: 0.85rem !important;
  max-width: var(--max-width) !important;
  width: 100% !important;
  z-index: 2 !important;
  font-family: var(--font-mono) !important;
}

.description a {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 0.5rem !important;
}

.description p {
  position: relative !important;
  margin: 0 !important;
  padding: 1rem !important;
  background-color: rgba(var(--callout-rgb), 0.5) !important;
  border: 1px solid rgba(var(--callout-border-rgb), 0.3) !important;
  border-radius: var(--border-radius) !important;
}

.code {
  font-weight: 700 !important;
  font-family: var(--font-mono) !important;
}

.grid {
  display: grid !important;
  grid-template-columns: repeat(4, minmax(25%, auto)) !important;
  max-width: var(--max-width) !important;
  width: 100% !important;
}

.card {
  padding: 1rem 1.2rem !important;
  border-radius: var(--border-radius) !important;
  background: rgba(var(--card-rgb), 0) !important;
  border: 1px solid rgba(var(--card-border-rgb), 0) !important;
  transition: background 200ms, border 200ms !important;
  text-decoration: none;
  color: white;
}

.card span {
  display: inline-block !important;
  transition: transform 200ms !important;
}

.card h2 {
  font-weight: 600 !important;
  margin-bottom: 0.7rem !important;
}

.card p {
  margin: 0 !important;
  opacity: 0.6 !important;
  font-size: 0.9rem !important;
  line-height: 1.5 !important;
  max-width: 30ch !important;
}

.center {
  display: flex !important;
  height: 400px;
  justify-content: center !important;
  align-items: center !important;
  /* position: relative !important; */
}

.center::before {
  background: var(--secondary-glow) !important;
  border-radius: 50% !important;
  width: 480px !important;
  height: 360px !important;
  margin-left: -400px !important;
}

.center::after {
  background: var(--primary-glow) !important;
  width: 240px !important;
  height: 180px !important;
  z-index: -1 !important;
}

.center::before,
.center::after {
  content: '' !important;
  left: 50% !important;
  position: absolute !important;
  filter: blur(45px) !important;
  transform: translateZ(0) !important;
}

.logo {
  width: 250px !important;
  height: 250px !important;
  border-radius: 120px !important;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1) !important;
    border: 1px solid rgba(var(--card-border-rgb), 0.15) !important;
  }

  .card:hover span {
    transform: translateX(4px) !important;
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none !important;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem !important;
  }

  .grid {
    grid-template-columns: 1fr !important;
    margin-bottom: 120px !important;
    max-width: 320px !important;
    text-align: center !important;
  }

  .card {
    padding: 1rem 2.5rem !important;
  }

  .card h2 {
    margin-bottom: 0.5rem !important;
  }

  .center {
    padding: 4rem 0 6rem !important;
  }

  .center::before {
    transform: none !important;
    height: 300px !important;
  }

  .description {
    font-size: 0.8rem !important;
  }

  .description a {
    padding: 1rem !important;
  }

  .description p,
  .description div {
    display: flex !important;
    justify-content: center !important;
    position: fixed !important;
    width: 100% !important;
  }

  .description p {
    align-items: center !important;
    inset: 0 0 auto !important;
    padding: 2rem 1rem 1.4rem !important;
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25) !important;
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    ) !important;
    background-clip: padding-box !important;
    backdrop-filter: blur(24px) !important;
  }

  .description div {
    align-items: flex-end !important;
    pointer-events: none !important;
    inset: auto 0 0 !important;
    padding: 2rem !important;
    height: 200px !important;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    ) !important;
    z-index: 1 !important;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%) !important;
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1) !important;
  }

  
}

@keyframes rotate {
  from {
    transform: rotate(360deg) !important;
  }
  to {
    transform: rotate(0deg) !important;
  }
}
